{
  "extends": [
    "react-app",
    "react-app/jest",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/typescript",
    "prettier"
  ],
  "rules": {
    "array-bracket-spacing":  "error",
    "react/react-in-jsx-scope": "off",
    "react/jsx-closing-bracket-location": 1,
    "space-in-parens": "error",
    "space-before-blocks": "error",
    "react/prop-types": ["warn"],
    "react/jsx-fragments": ["warn", "element"],
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": ["error"],
    "import/no-unresolved": [
      "error",
      {
        "caseSensitive": true
      }
    ]
  },
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "react",
    "import",
    "@typescript-eslint"
  ],
  "settings": {
    "import/resolver": {
      "typescript": {},
      "alias":{
        "map": [
          ["~", "./src"]
        ],
        "extensions": [".ts", ".js", ".tsx", ".jsx", ".json"]
      }
    }
  }
}
